* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* header */

.bg-white {
    background-color: white;
}

.nav-container {
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.pd-nav {
    padding: 20px;
}

.logo {
    vertical-align: middle;
}

.text-deco {
    text-decoration: none;
}

.black {
    color: black;
}

.nav-row {
    justify-content: space-between;
}

.bg-blue {
    background-color: #0061FF;
}

.white {
    color: white;
}

.pd-nav-special {
    padding: 5px 15px;
}

/* Hero */
.maxi-container {
    max-width: 100%;
}

.medium-container {
    width: 1200px;
    padding: 50px;  
}

.container {
    margin: 0 auto;
}

.bg-lightblue {
    background-color: #B4D0E7;
}

.col-5 {
    flex-basis: calc((100% / 12) *5);
}

.col-7 {
    flex-basis: calc((100% / 12) *7);
}

.title {
    font-size: 50px;
    margin-bottom: 40px;
}

.row-title {
    justify-content: center;
}

.margin-special {
    margin-bottom: 20px;
}

.margin2-special {
    margin: 20px 0;
    display: inline-block;
}


.jumbo {
    width: 100%; 
    margin-bottom: -150px;  
}

.container-cards {
    width: 900px;
    margin-top: 200px;
}

.title2 {
    font-size: 40px;
}

.row-circle {
    margin-top: 40px;
}

.radio {
    margin-top: 40px;
}





